:root {
  --bg: #0b1d39;
  --sidebar: #0b1d39;
  --card: rgba(255, 255, 255, 0.97);
  --text: #0f172a;
  --soft: #e0f2fe;
  --blue: #0369a1;
  --blue2: #0ea5e9;
  --danger: #d62828;
}

/*Global  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: white;
  display: flex;
  min-height: 100vh;
}

/* SideBar  */
aside {
  width: 155px;
  height: calc(100vh - 20px);

  position: fixed;
  top: 10px;
  left: 10px;

  background: var(--sidebar);

  border: 1px solid rgba(255, 255, 255, 0.08);

  padding: 1rem;
  border-radius: 18px;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

aside h2 {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  color: white;
}

/*Nav links  */
.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 10px;
  border-radius: 12px;

  transition: 0.3s ease;
  user-select: none;
}

/* LINKS */
.nav-links li a {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 10px;

  text-decoration: none;
  color: white;

  font-size: 0.8rem;

  border-radius: 12px;

  transition: 0.3s ease;
}

/* Icons*/
.nav-links li a i {
  margin-right: 8px;
  font-size: 0.8rem;
  color: white;
}

/*Hover Effect  */
.nav-links li a:hover,
.nav-links li.active a {
  background: rgba(255, 255, 255, 0.1);
  color: white;

  transform: translateX(3px);
}

/*Main content  */
main {
  margin-left: 180px;
  width: calc(100% - 180px);
  padding: 1.5rem;
}

/* navBar */
.navbar {
  background: rgba(255, 255, 255, 0.97);

  padding: 0.9rem 1.4rem;
  border-radius: 16px;

  margin-bottom: 1.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 0.9rem;

  color: var(--text);

  box-shadow: 0 3px 10px rgba(80, 5, 13, 0.49);
}

/* kpi cards */
.kpi-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

  gap: 1rem;
  margin-bottom: 1.2rem;
}

.kpi-card {
  background: var(--card);

  padding: 1rem;
  border-radius: 16px;

  color: var(--text);

  border-bottom: 3px solid var(--blue);

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.kpi-card h4 {
  font-size: 0.7rem;
  color: #64748b;

  margin-bottom: 6px;
}

.kpi-card p {
  font-size: 1rem;
  font-weight: bold;

  color: var(--blue);
}

/* table section */
.section-box {
  background: var(--card);

  padding: 1rem;
  border-radius: 16px;

  color: var(--text);

  overflow-x: auto;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.section-box h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* table */
table {
  width: 100%;
  min-width: 1300px;

  border-collapse: collapse;
}

th {
  text-align: left;

  padding: 10px;

  background: var(--soft);

  color: #64748b;
  font-size: 0.75rem;

  white-space: nowrap;
}

td {
  padding: 10px;

  font-size: 0.78rem;
  color: var(--text);

  border-bottom: 1px solid #e2e8f0;

  white-space: nowrap;
}

/* image */
img {
  border-radius: 6px;
}
